body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.logo i {
    margin-right: 10px;
}

#menu-bar {
    display: none;
    cursor: pointer;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav b {
    color: rgb(0, 140, 255);
    text-decoration: none;
}

@media (max-width: 768px) {
    #navbar {
        display: none;
    }
    #menu-bar {
        display: block;
    }
}

@media (max-width: 768px) {
    #menu-bar {
        display: none;
    }
    #navbar {
        display: block;
    }
    nav ul {
        flex-direction: column;
        display: none;
    }

    nav ul li {
        margin-top: 10px;
    }
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}
.carousel img {
    max-width: 100%;
    height: auto;
    min-width: 100%;
    display: block;
}
.carousel-container {
    display: flex;
    width: calc(100% * 3); 
}
.carousel-item {
    width: calc(100% / 3); 
    transition: transform 0.5s ease;
}

footer {
    background: #222;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

.gallery img {
    margin: 10px;
    border: 5px solid #fff;
    width: calc(33% - 20px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

footer p {
    margin: 0;
}